<script type="text/ng-template" id="about-screen.html">
    <div screen="about">

        <!-- one way pass values to component -->
        <hero-item
                img="https://unsplash.it/1200/500/?random&123"
                heading="About The Anime Portal"
                height="300"
        ></hero-item>

        <div class="container">
            <h1>A Test Project</h1>

            <p>This project contains an example Angular application for you to extend and add features to.</p>
            <p><strong>Enjoy</strong></p>

            <hr>
        </div>

    </div>
</script>